[submodule "files/junk-drawer"]
	path = files/junk-drawer
	url = https://github.com/stbenjam/junk-drawer.git
[submodule "files/selecta"]
	path = files/selecta
	url = https://github.com/garybernhardt/selecta
[submodule "files/vim-colors-solarized"]
	path = files/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
